@model UserAdvertisementVehicleViewModel

<div class="col">
    @Html.LabelFor(m => m.Condition, new { @class = "h4" })
    <br />

    @Html.DisplayFor(m => m.Condition)
    <br />
</div>

<div class="col">
    @Html.LabelFor(m => m.Type, new { @class = "h4" })
    <br />

    @Html.DisplayFor(m => m.Type)
    <br />
</div>

<div class="col">
    @Html.LabelFor(m => m.Make, new { @class = "h4" })
    <br />

    @Html.DisplayFor(m => m.Make)
    <br />
</div>

<div class="col">
    @Html.LabelFor(m => m.Model, new { @class = "h4" })
    <br />

    @Html.DisplayFor(m => m.Model)
    <br />
</div>

<div class="col">
    @Html.LabelFor(m => m.FirstRegistration, new { @class = "h4" })
    <br />

    @Html.DisplayFor(m => m.FirstRegistration)
    <br />
</div>

<div class="col">
    @Html.LabelFor(m => m.Kilometre, new { @class = "h4" })
    <br />

    @Html.DisplayFor(m => m.Kilometre)
    <br />
</div>

<div class="col">
    @Html.LabelFor(m => m.Price, new { @class = "h4" })
    <br />

    @Html.DisplayFor(m => m.Price)
    <br />
</div>

<div class="col">
    @Html.LabelFor(m => m.Power, new { @class = "h4" })
    <br />

    @Html.DisplayFor(m => m.Power)
    <br />
</div>

<div class="col">
    @Html.LabelFor(m => m.EngineCubicCapacity, new { @class = "h4" })
    <br />

    @Html.DisplayFor(m => m.EngineCubicCapacity)
    <br />
</div>

<div class="col">
    @Html.LabelFor(m => m.FuelType, new { @class = "h4" })
    <br />

    @Html.DisplayFor(m => m.FuelType)
    <br />
</div>

<div class="col">
    @Html.LabelFor(m => m.VehicleExteriorColour, new { @class = "h4" })
    <br />

    @Html.DisplayFor(m => m.VehicleExteriorColour)
    <br />
</div>

<div class="col">
    @Html.LabelFor(m => m.Transmission, new { @class = "h4" })
    <br />

    @Html.DisplayFor(m => m.Transmission)
    <br />
</div>